.formStyle {
  
    overflow-y:scroll;
    text-align: left;
    max-width: 90vw;

    max-height: 70vh;
}

.formStyle2{
    overflow-y:scroll;
    text-align: left;
    width: 50vw;
    min-width: 300px;
    max-height: 70vh;
}


.dragStyle{
    overflow-y:scroll;
    text-align: left;
    width: 40vw;
    min-width:300px;
    max-height: 80vh;
}

.linkFormStyle {
  
    overflow-y:scroll;
    text-align: left;
    max-height: 60vh;
}
.headingBox{
    
    display: flex;
    justify-content: space-between;
    align-items:center
}
.heading{
    display: inline;
    margin:0;
}
.buttonBox{
    display:flex;
    justify-content: flex-start;
    align-items:center;
}

.resume{
    display:flex;
    justify-content: space-between;
    align-items:center

}

.resumeText{
    width:80%;
}

.skillForm{
    width:30vw;
    min-width:300px;

}