.flex-box {

  display: flex;
  max-width:100%;
  flex-direction: row;
  justify-content: space-between
}


.image{

  display: flex;
  align-items:flex-start;
  justify-content: flex-end

}

.compPicture{
  width: 15vh;
  padding: 0.5vh;
  min-width:100px;
  min-height:100px
}
.mobPicture{
  height: 15vh;
  padding: 0.5vh;
  min-width:100px;
  min-height:100px
}

.textBox{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
 
}

.icon{
  flex-grow:0;
}
.project{
  display:flex;
  justify-content: space-between;
}

.compStyle{
  width:80%;
  flex-grow:1;
}